.hourly-forecast {
    display: grid;
    width: 100%;
    margin-top: 2vw;
    padding-bottom: 1vw;
    filter: drop-shadow(3px 1px 2px #3c5563);
    background-color: rgba(1, 90, 145, .3);
}

.hourly-forecast-title {
    margin-top: 15px;
    margin-left: 15px;
    text-align: left;
    margin-bottom: 1vw;
}

.hourly-forecast-panel {
    display: flex;
}

.arrow {
    align-self: center;
    font-size: 1.5em;
    cursor: pointer;
}

#left-arrow {
    visibility: hidden;
}

.hourly-forecast-rows {
    grid-template-columns: 1fr 1fr;
}

.hourly-forecast-row {
    display: grid;
    grid-template-rows: 1fr minmax(3rem, 5rem);
}

.hourly-forecast-cells {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 4px;
    padding: 0 4px;
}

.hidden {
    display: none;
}

/*@media screen and (max-width: 549px){*/
/*    .hourly-forecast {*/
/*        margin-top: 1vw;*/
/*        padding-bottom: .8vw;*/
/*    }*/
/*}*/