.hourly-forecast {
    display: grid;
    margin-top: 2vw;
    border: 3px solid black;
}

.hourly-forecast-title {
    text-align: left;
    margin-bottom: 1vw;
}

.hourly-forecast-panel {
    display: flex;
    border: 3px solid yellow;
}

.right-arrow, .left-arrow {
    align-self: center;
    border: 1px solid black;
}

.hourly-forecast-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid red;
}

.hourly-forecast-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.two {
    display: none;
}

.translateX {
    transform: translateX(-50%);
    transition: all 1s ease-out;
}