.current-weather {
    display: grid;
}

.current-weather-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.current-temperature {
    font-size: 3rem;
    text-align: left;
}

.first {
    margin-top: 2vw;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.city-name {
    font-size: 4rem;
}

