.current-weather {
    display: grid;
}

.current-weather-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.current-temperature {
    font-size: 3rem;
    text-align: left;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.city-name {
    font-size: 4rem;
}

@media screen and (max-width: 550px){
    .current-weather {
        padding: 0 10px;
        min-width: 330px;
        max-width: 540px;
    }
    .current-temperature {
        font-size: 2rem;

    }
    .city-name {
        font-size: 3rem;
    }
}

