.current-weather {
    display: grid;
    width: 100%;
    color: white;
}

.current-weather-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.current-temperature {
    font-size: 3rem;
    text-align: left;
}

.first {
    margin: 2vw 0 0 0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.city-name {
    font-size: 4rem;
}

