.daily-forecast {
    display: grid;
    width: 100%;
    margin-top: 2vw;
    filter: drop-shadow(3px 1px 2px #3c5563);
    background-color: rgba(1, 90, 145, .3);
}

.daily-forecast-title {
    margin-top: 15px;
    margin-left: 15px;
    text-align: left;
    margin-bottom: 1vw;
}

.daily-forecast-columns {
    display: grid;
    grid-template-rows: 1fr minmax(7rem, 9rem);
    margin: 0 20px;
}

.daily-forecast-cells {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 2px;
    column-gap: 4px;
}

/*@media screen and (max-width: 549px){*/
/*    .daily-forecast {*/
/*        margin-top: 1vw;*/
/*    }*/
/*    .daily-forecast-columns {*/
/*        grid-template-rows: 1fr minmax(5rem, 7rem);*/
/*        margin: 0 10px;*/
/*    }*/
/*}*/