.App {
  text-align: center;
  font-size: 1.25em;
  text-shadow: 1px 1px 4px #000000;
}

.background-image {
  display: flex;
  justify-content: center;
  margin: 4vw auto;
  padding: 2vw;
  width: max-content;
  min-width: 500px;
  height: max-content;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
