.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25em;
  color: white;
  text-shadow: 1px 1px 4px #000000;
}

.background-image {
  padding: 10px 20px 20px 20px;
  width: min-content;
  min-width: 550px;
  height: max-content;
  background-size: cover;
  background-repeat: no-repeat;
}

.grey {
  background-color: rgba(80, 98, 107, .3);
}

/*@media screen and (max-width: 549px){*/
/*  .App {*/
/*    font-size: 1em;*/
/*  }*/
/*  .background-image {*/
/*    min-width: 320px;*/
/*    padding: 10px 10px;*/
/*  }*/
/*}*/