* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen','Segoe UI',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: contain;
  background: url('./assets/background-image.jpg') no-repeat fixed center;
}

@media screen and (max-width: 550px){
  body {
    font-size: smaller;
    font-weight: lighter;
    min-width: 320px;
    max-width: 550px;
  }
}

